@font-face {
    font-family: 'englyph';
    src:    url('./fonts/englyph.eot?r61ki7');
    src:    url('./fonts/englyph.eot?r61ki7#iefix') format('embedded-opentype'),
        url('./fonts/englyph.ttf?r61ki7') format('truetype'),
        url('./fonts/englyph.woff?r61ki7') format('woff'),
        url('./fonts/englyph.svg?r61ki7#englyph') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="cs-"], [class*=" cs-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'englyph' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cs-add-to-list:before {
    content: "\e900";
}
.cs-add-user:before {
    content: "\e901";
}
.cs-address:before {
    content: "\e902";
}
.cs-adjust:before {
    content: "\e903";
}
.cs-air:before {
    content: "\e904";
}
.cs-aircraft-landing:before {
    content: "\e905";
}
.cs-aircraft-take-off:before {
    content: "\e906";
}
.cs-aircraft:before {
    content: "\e907";
}
.cs-align-bottom:before {
    content: "\e908";
}
.cs-align-horizontal-middle:before {
    content: "\e909";
}
.cs-align-left:before {
    content: "\e90a";
}
.cs-align-right:before {
    content: "\e90b";
}
.cs-align-top:before {
    content: "\e90c";
}
.cs-align-vertical-middle:before {
    content: "\e90d";
}
.cs-archive:before {
    content: "\e90e";
}
.cs-area-graph:before {
    content: "\e90f";
}
.cs-arrow-bold-down:before {
    content: "\e910";
}
.cs-arrow-bold-left:before {
    content: "\e911";
}
.cs-arrow-bold-right:before {
    content: "\e912";
}
.cs-arrow-bold-up:before {
    content: "\e913";
}
.cs-arrow-down:before {
    content: "\e914";
}
.cs-arrow-left:before {
    content: "\e915";
}
.cs-arrow-long-down:before {
    content: "\e916";
}
.cs-arrow-long-left:before {
    content: "\e917";
}
.cs-arrow-long-right:before {
    content: "\e918";
}
.cs-arrow-long-up:before {
    content: "\e919";
}
.cs-arrow-right:before {
    content: "\e91a";
}
.cs-arrow-up:before {
    content: "\e91b";
}
.cs-arrow-with-circle-down:before {
    content: "\e91c";
}
.cs-arrow-with-circle-left:before {
    content: "\e91d";
}
.cs-arrow-with-circle-right:before {
    content: "\e91e";
}
.cs-arrow-with-circle-up:before {
    content: "\e91f";
}
.cs-attachment:before {
    content: "\e920";
}
.cs-awareness-ribbon:before {
    content: "\e921";
}
.cs-back-in-time:before {
    content: "\e922";
}
.cs-back:before {
    content: "\e923";
}
.cs-bar-graph:before {
    content: "\e924";
}
.cs-battery:before {
    content: "\e925";
}
.cs-beamed-note:before {
    content: "\e926";
}
.cs-bell:before {
    content: "\e927";
}
.cs-blackboard:before {
    content: "\e928";
}
.cs-block:before {
    content: "\e929";
}
.cs-book:before {
    content: "\e92a";
}
.cs-bookmark:before {
    content: "\e92b";
}
.cs-bookmarks:before {
    content: "\e92c";
}
.cs-bowl:before {
    content: "\e92d";
}
.cs-box:before {
    content: "\e92e";
}
.cs-briefcase:before {
    content: "\e92f";
}
.cs-browser:before {
    content: "\e930";
}
.cs-brush:before {
    content: "\e931";
}
.cs-bucket:before {
    content: "\e932";
}
.cs-bug:before {
    content: "\e933";
}
.cs-cake:before {
    content: "\e934";
}
.cs-calculator:before {
    content: "\e935";
}
.cs-calendar:before {
    content: "\e936";
}
.cs-camera:before {
    content: "\e937";
}
.cs-ccw:before {
    content: "\e938";
}
.cs-chat:before {
    content: "\e939";
}
.cs-check:before {
    content: "\e93a";
}
.cs-chevron-down:before {
    content: "\e93b";
}
.cs-chevron-left:before {
    content: "\e93c";
}
.cs-chevron-right:before {
    content: "\e93d";
}
.cs-chevron-small-down:before {
    content: "\e93e";
}
.cs-chevron-small-left:before {
    content: "\e93f";
}
.cs-chevron-small-right:before {
    content: "\e940";
}
.cs-chevron-small-up:before {
    content: "\e941";
}
.cs-chevron-thin-down:before {
    content: "\e942";
}
.cs-chevron-thin-left:before {
    content: "\e943";
}
.cs-chevron-thin-right:before {
    content: "\e944";
}
.cs-chevron-thin-up:before {
    content: "\e945";
}
.cs-chevron-up:before {
    content: "\e946";
}
.cs-chevron-with-circle-down:before {
    content: "\e947";
}
.cs-chevron-with-circle-left:before {
    content: "\e948";
}
.cs-chevron-with-circle-right:before {
    content: "\e949";
}
.cs-chevron-with-circle-up:before {
    content: "\e94a";
}
.cs-circle-with-cross:before {
    content: "\e94b";
}
.cs-circle-with-minus:before {
    content: "\e94c";
}
.cs-circle-with-plus:before {
    content: "\e94d";
}
.cs-circle:before {
    content: "\e94e";
}
.cs-circular-graph:before {
    content: "\e94f";
}
.cs-clapperboard:before {
    content: "\e950";
}
.cs-classic-computer:before {
    content: "\e951";
}
.cs-clipboard:before {
    content: "\e952";
}
.cs-clock:before {
    content: "\e953";
}
.cs-cloud:before {
    content: "\e954";
}
.cs-code:before {
    content: "\e955";
}
.cs-cog:before {
    content: "\e956";
}
.cs-colours:before {
    content: "\e957";
}
.cs-compass:before {
    content: "\e958";
}
.cs-controller-fast-backward:before {
    content: "\e959";
}
.cs-controller-fast-forward:before {
    content: "\e95a";
}
.cs-controller-jump-to-start:before {
    content: "\e95b";
}
.cs-controller-next:before {
    content: "\e95c";
}
.cs-controller-paus:before {
    content: "\e95d";
}
.cs-controller-play:before {
    content: "\e95e";
}
.cs-controller-record:before {
    content: "\e95f";
}
.cs-controller-stop:before {
    content: "\e960";
}
.cs-controller-volume:before {
    content: "\e961";
}
.cs-copy:before {
    content: "\e962";
}
.cs-creative-commons-attribution:before {
    content: "\e963";
}
.cs-creative-commons-noderivs:before {
    content: "\e964";
}
.cs-creative-commons-noncommercial-eu:before {
    content: "\e965";
}
.cs-creative-commons-noncommercial-us:before {
    content: "\e966";
}
.cs-creative-commons-public-domain:before {
    content: "\e967";
}
.cs-creative-commons-remix:before {
    content: "\e968";
}
.cs-creative-commons-share:before {
    content: "\e969";
}
.cs-creative-commons-sharealike:before {
    content: "\e96a";
}
.cs-creative-commons:before {
    content: "\e96b";
}
.cs-credit-card:before {
    content: "\e96c";
}
.cs-credit:before {
    content: "\e96d";
}
.cs-crop:before {
    content: "\e96e";
}
.cs-cross:before {
    content: "\e96f";
}
.cs-cup:before {
    content: "\e970";
}
.cs-cw:before {
    content: "\e971";
}
.cs-cycle:before {
    content: "\e972";
}
.cs-database:before {
    content: "\e973";
}
.cs-dial-pad:before {
    content: "\e974";
}
.cs-direction:before {
    content: "\e975";
}
.cs-document-landscape:before {
    content: "\e976";
}
.cs-document:before {
    content: "\e977";
}
.cs-documents:before {
    content: "\e978";
}
.cs-dot-single:before {
    content: "\e979";
}
.cs-dots-three-horizontal:before {
    content: "\e97a";
}
.cs-dots-three-vertical:before {
    content: "\e97b";
}
.cs-dots-two-horizontal:before {
    content: "\e97c";
}
.cs-dots-two-vertical:before {
    content: "\e97d";
}
.cs-download:before {
    content: "\e97e";
}
.cs-drink:before {
    content: "\e97f";
}
.cs-drive:before {
    content: "\e980";
}
.cs-drop:before {
    content: "\e981";
}
.cs-edit:before {
    content: "\e982";
}
.cs-email:before {
    content: "\e983";
}
.cs-emoji-flirt:before {
    content: "\e984";
}
.cs-emoji-happy:before {
    content: "\e985";
}
.cs-emoji-neutral:before {
    content: "\e986";
}
.cs-emoji-sad:before {
    content: "\e987";
}
.cs-erase:before {
    content: "\e988";
}
.cs-eraser:before {
    content: "\e989";
}
.cs-export:before {
    content: "\e98a";
}
.cs-eye-with-line:before {
    content: "\e98b";
}
.cs-eye:before {
    content: "\e98c";
}
.cs-feather:before {
    content: "\e98d";
}
.cs-fingerprint:before {
    content: "\e98e";
}
.cs-flag:before {
    content: "\e98f";
}
.cs-flash:before {
    content: "\e990";
}
.cs-flashlight:before {
    content: "\e991";
}
.cs-flat-brush:before {
    content: "\e992";
}
.cs-flow-branch:before {
    content: "\e993";
}
.cs-flow-cascade:before {
    content: "\e994";
}
.cs-flow-line:before {
    content: "\e995";
}
.cs-flow-parallel:before {
    content: "\e996";
}
.cs-flow-tree:before {
    content: "\e997";
}
.cs-flower:before {
    content: "\e998";
}
.cs-folder-images:before {
    content: "\e999";
}
.cs-folder-music:before {
    content: "\e99a";
}
.cs-folder-video:before {
    content: "\e99b";
}
.cs-folder:before {
    content: "\e99c";
}
.cs-forward:before {
    content: "\e99d";
}
.cs-funnel:before {
    content: "\e99e";
}
.cs-game-controller:before {
    content: "\e99f";
}
.cs-gauge:before {
    content: "\e9a0";
}
.cs-globe:before {
    content: "\e9a1";
}
.cs-graduation-cap:before {
    content: "\e9a2";
}
.cs-grid:before {
    content: "\e9a3";
}
.cs-hair-cross:before {
    content: "\e9a4";
}
.cs-hand:before {
    content: "\e9a5";
}
.cs-heart-outlined:before {
    content: "\e9a6";
}
.cs-heart:before {
    content: "\e9a7";
}
.cs-help-with-circle:before {
    content: "\e9a8";
}
.cs-help:before {
    content: "\e9a9";
}
.cs-home:before {
    content: "\e9aa";
}
.cs-hour-glass:before {
    content: "\e9ab";
}
.cs-image-inverted:before {
    content: "\e9ac";
}
.cs-image:before {
    content: "\e9ad";
}
.cs-images:before {
    content: "\e9ae";
}
.cs-inbox:before {
    content: "\e9af";
}
.cs-infinity:before {
    content: "\e9b0";
}
.cs-info-with-circle:before {
    content: "\e9b1";
}
.cs-info:before {
    content: "\e9b2";
}
.cs-install:before {
    content: "\e9b3";
}
.cs-key:before {
    content: "\e9b4";
}
.cs-keyboard:before {
    content: "\e9b5";
}
.cs-lab-flask:before {
    content: "\e9b6";
}
.cs-landline:before {
    content: "\e9b7";
}
.cs-language:before {
    content: "\e9b8";
}
.cs-laptop:before {
    content: "\e9b9";
}
.cs-layers:before {
    content: "\e9ba";
}
.cs-leaf:before {
    content: "\e9bb";
}
.cs-level-down:before {
    content: "\e9bc";
}
.cs-level-up:before {
    content: "\e9bd";
}
.cs-lifebuoy:before {
    content: "\e9be";
}
.cs-light-bulb:before {
    content: "\e9bf";
}
.cs-light-down:before {
    content: "\e9c0";
}
.cs-light-up:before {
    content: "\e9c1";
}
.cs-line-graph:before {
    content: "\e9c2";
}
.cs-link:before {
    content: "\e9c3";
}
.cs-list:before {
    content: "\e9c4";
}
.cs-location-pin:before {
    content: "\e9c5";
}
.cs-location:before {
    content: "\e9c6";
}
.cs-lock-open:before {
    content: "\e9c7";
}
.cs-lock:before {
    content: "\e9c8";
}
.cs-log-out:before {
    content: "\e9c9";
}
.cs-login:before {
    content: "\e9ca";
}
.cs-loop:before {
    content: "\e9cb";
}
.cs-magnet:before {
    content: "\e9cc";
}
.cs-magnifying-glass:before {
    content: "\e9cd";
}
.cs-mail:before {
    content: "\e9ce";
}
.cs-man:before {
    content: "\e9cf";
}
.cs-map:before {
    content: "\e9d0";
}
.cs-mask:before {
    content: "\e9d1";
}
.cs-medal:before {
    content: "\e9d2";
}
.cs-megaphone:before {
    content: "\e9d3";
}
.cs-menu:before {
    content: "\e9d4";
}
.cs-merge:before {
    content: "\e9d5";
}
.cs-message:before {
    content: "\e9d6";
}
.cs-mic:before {
    content: "\e9d7";
}
.cs-minus:before {
    content: "\e9d8";
}
.cs-mobile:before {
    content: "\e9d9";
}
.cs-modern-mic:before {
    content: "\e9da";
}
.cs-moon:before {
    content: "\e9db";
}
.cs-mouse-pointer:before {
    content: "\e9dc";
}
.cs-mouse:before {
    content: "\e9dd";
}
.cs-music:before {
    content: "\e9de";
}
.cs-network:before {
    content: "\e9df";
}
.cs-new-message:before {
    content: "\e9e0";
}
.cs-new:before {
    content: "\e9e1";
}
.cs-news:before {
    content: "\e9e2";
}
.cs-newsletter:before {
    content: "\e9e3";
}
.cs-note:before {
    content: "\e9e4";
}
.cs-notification:before {
    content: "\e9e5";
}
.cs-notifications-off:before {
    content: "\e9e6";
}
.cs-old-mobile:before {
    content: "\e9e7";
}
.cs-old-phone:before {
    content: "\e9e8";
}
.cs-open-book:before {
    content: "\e9e9";
}
.cs-palette:before {
    content: "\e9ea";
}
.cs-paper-plane:before {
    content: "\e9eb";
}
.cs-pencil:before {
    content: "\e9ec";
}
.cs-phone:before {
    content: "\e9ed";
}
.cs-pie-chart:before {
    content: "\e9ee";
}
.cs-pin:before {
    content: "\e9ef";
}
.cs-plus:before {
    content: "\e9f0";
}
.cs-popup:before {
    content: "\e9f1";
}
.cs-power-plug:before {
    content: "\e9f2";
}
.cs-price-ribbon:before {
    content: "\e9f3";
}
.cs-price-tag:before {
    content: "\e9f4";
}
.cs-print:before {
    content: "\e9f5";
}
.cs-progress-empty:before {
    content: "\e9f6";
}
.cs-progress-full:before {
    content: "\e9f7";
}
.cs-progress-one:before {
    content: "\e9f8";
}
.cs-progress-two:before {
    content: "\e9f9";
}
.cs-publish:before {
    content: "\e9fa";
}
.cs-quote:before {
    content: "\e9fb";
}
.cs-radio:before {
    content: "\e9fc";
}
.cs-remove-user:before {
    content: "\e9fd";
}
.cs-reply-all:before {
    content: "\e9fe";
}
.cs-reply:before {
    content: "\e9ff";
}
.cs-resize-100:before {
    content: "\ea00";
}
.cs-resize-full-screen:before {
    content: "\ea01";
}
.cs-retweet:before {
    content: "\ea02";
}
.cs-rocket:before {
    content: "\ea03";
}
.cs-round-brush:before {
    content: "\ea04";
}
.cs-rss:before {
    content: "\ea05";
}
.cs-ruler:before {
    content: "\ea06";
}
.cs-save:before {
    content: "\ea07";
}
.cs-scissors:before {
    content: "\ea08";
}
.cs-select-arrows:before {
    content: "\ea09";
}
.cs-share-alternative:before {
    content: "\ea0a";
}
.cs-share:before {
    content: "\ea0b";
}
.cs-shareable:before {
    content: "\ea0c";
}
.cs-shield:before {
    content: "\ea0d";
}
.cs-shop:before {
    content: "\ea0e";
}
.cs-shopping-bag:before {
    content: "\ea0f";
}
.cs-shopping-basket:before {
    content: "\ea10";
}
.cs-shopping-cart:before {
    content: "\ea11";
}
.cs-shuffle:before {
    content: "\ea12";
}
.cs-signal:before {
    content: "\ea13";
}
.cs-sound-mix:before {
    content: "\ea14";
}
.cs-sound-mute:before {
    content: "\ea15";
}
.cs-sound:before {
    content: "\ea16";
}
.cs-sports-club:before {
    content: "\ea17";
}
.cs-spreadsheet:before {
    content: "\ea18";
}
.cs-squared-cross:before {
    content: "\ea19";
}
.cs-squared-minus:before {
    content: "\ea1a";
}
.cs-squared-plus:before {
    content: "\ea1b";
}
.cs-star-outlined:before {
    content: "\ea1c";
}
.cs-star:before {
    content: "\ea1d";
}
.cs-stopwatch:before {
    content: "\ea1e";
}
.cs-suitcase:before {
    content: "\ea1f";
}
.cs-swap:before {
    content: "\ea20";
}
.cs-sweden:before {
    content: "\ea21";
}
.cs-switch:before {
    content: "\ea22";
}
.cs-tablet-mobile-combo:before {
    content: "\ea23";
}
.cs-tablet:before {
    content: "\ea24";
}
.cs-tag:before {
    content: "\ea25";
}
.cs-text-document-inverted:before {
    content: "\ea26";
}
.cs-text-document:before {
    content: "\ea27";
}
.cs-text:before {
    content: "\ea28";
}
.cs-thermometer:before {
    content: "\ea29";
}
.cs-thumbs-down:before {
    content: "\ea2a";
}
.cs-thumbs-up:before {
    content: "\ea2b";
}
.cs-thunder-cloud:before {
    content: "\ea2c";
}
.cs-ticket:before {
    content: "\ea2d";
}
.cs-time-slot:before {
    content: "\ea2e";
}
.cs-tools:before {
    content: "\ea2f";
}
.cs-traffic-cone:before {
    content: "\ea30";
}
.cs-trash:before {
    content: "\ea31";
}
.cs-tree:before {
    content: "\ea32";
}
.cs-triangle-down:before {
    content: "\ea33";
}
.cs-triangle-left:before {
    content: "\ea34";
}
.cs-triangle-right:before {
    content: "\ea35";
}
.cs-triangle-up:before {
    content: "\ea36";
}
.cs-trophy:before {
    content: "\ea37";
}
.cs-tv:before {
    content: "\ea38";
}
.cs-typing:before {
    content: "\ea39";
}
.cs-uninstall:before {
    content: "\ea3a";
}
.cs-unread:before {
    content: "\ea3b";
}
.cs-untag:before {
    content: "\ea3c";
}
.cs-upload-to-cloud:before {
    content: "\ea3d";
}
.cs-upload:before {
    content: "\ea3e";
}
.cs-user:before {
    content: "\ea3f";
}
.cs-users:before {
    content: "\ea40";
}
.cs-v-card:before {
    content: "\ea41";
}
.cs-video-camera:before {
    content: "\ea42";
}
.cs-video:before {
    content: "\ea43";
}
.cs-vinyl:before {
    content: "\ea44";
}
.cs-voicemail:before {
    content: "\ea45";
}
.cs-wallet:before {
    content: "\ea46";
}
.cs-warning:before {
    content: "\ea47";
}
.cs-water:before {
    content: "\ea48";
}
